:root {
  --title-color: #2e2f42;
  --text-color: #434455;
  --accent-color: #4d5ae5;
  --banner-color: #ffffff;
  --footer-color: #e7e9fc;
  --logo-color: #f4f4fd;
  --card-set-gap: 24px;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--title-color);
  background-color: var(--banner-color);
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

.contacts {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-color);
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--title-color);
}

.works-title.centered,
.team-members.centered {
  text-align: center;
}

.text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer
  font-family: inherit;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  margin: 0;
  padding-left: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
/*--------------------------WEBSTUDIO---------------------*/

/*----------HEADER---------*/

.header {
  background-color: var(--banner-color);
  border-bottom: 1px solid #e7e9fc;
}
.header > .container {
  display: flex;
}
.header-navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.header-list {
  display: flex;
  gap: 40px;
}

.studio {
  color: var(--title-color);
}
.header-logo {
  margin-right: 76px;
}
.header-link {
  padding-top: 24px;
  padding-bottom: 24px;
  display: block;
  font-weight: 600;
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}
/*-----HEADER CONTACTS--------*/
.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}
.current {
  color: #4d5ae5;
}
.header-link.current::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  left: 0;
  bottom: -1px;
  border-radius: 2px;
  bottom: -1px;
}
.header-contacts {
  display: flex;
  gap: 40px;
}

.header-email,
.header-telephon {
  padding-top: 24px;
  padding-bottom: 24px;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-email:hover,
.header-email:focus {
  color: var(--accent-color);
}

.header-telephon:hover,
.header-telephon:focus {
  color: var(--accent-color);
}

/*-----SLOGAN--------*/

.slogan {
  padding-top: 188px;
  padding-bottom: 188px;
  text-align: center;
  background-image: linear-gradient(
      to right,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/people-office.jpg");
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.slogan-banner {
  margin: 0 auto;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--banner-color);
  max-width: 496px;

}

.slogan-button {
  margin-top: 48px;
  padding-top: 16px;
  padding-right: 32px;
  padding-bottom: 16px;
  padding-left: 32px;
  color: var(--banner-color);
  background-color: var(--accent-color);
  border: 0;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.slogan-button-style {
  display: flex;
  justify-content: center;
 
}
.slogan-button:hover,
.slogan-button:focus {
  background-color: #404bbf;
}
/*-----BACKDROP--------*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background: rgba(46, 47, 66, 0.4);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.backdrop-button {
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  background: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  fill: #2e2f42;
}


.backdrop-button:hover,
.backdrop-button:focus {
  background: #404BBF;
  fill: #FFFFFF;

}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.25) rotate(45deg);
}
.modal {
  position: absolute;
  min-height: 576px;
  min-width: 408px;
  top: 50%;
  left: 50%;
  background-color: #fcfcfc;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 4px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

/*-----FORMS--------*/
.contacts-form {
height: 584px;
width: 360px;
margin-left: 24px;
margin-right: 24px;
border:2px solid #31d0aa;
}

.contacts-form-title {
margin-top: 62px;
margin-bottom: 16px;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
text-align: center;
letter-spacing: 0.02em;
color: #2E2F42;
}

.label {
  padding-top: 4px;
}
.form-item {
margin-top: 8px;
display: flex;
flex-direction: column;
font-weight: 400;
font-size: 12px;
line-height: 1.33;
letter-spacing: 0.04em;
color: #8E8F99;
border: 2px solid red;
}

.form-item input {
margin: 0;
padding: 0;
border: 1px solid rgba(33, 33, 33, 0.2);
border-radius: 4px;
width: 100%;
height: 40px;
}

.form-item label {
font-weight: 400;
font-size: 12px;
line-height: 1.33;
letter-spacing: 0.04em;
color: #8E8F99;
}

/*-----SKILLS--------*/
.skills {
  padding-top: 8px;
  padding-bottom: 120px;
  padding-top: 120px;
  background-color: var(--banner-color);
}
.skills-item-icons {
  margin-bottom: 8px;
  width: 264px;
  height: 112px;
  background-color: #f4f4fd;
  display: flex;
  align-items: center;
  justify-content: center;
}

.skills-list {
  display: flex;
  gap: 24px;
}
.skills-item {
  flex-basis: calc((100% - 72px) / 4);
}
.skills-after-title {
  margin-top: 0;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-color);
}
.skills-description {
  color: var(--text-color);
  margin-top: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/*-----WORKS CARDS--------*/
.works {
  padding-bottom: 120px;
}

.works-list {
  margin-top: 72px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
}

.works-item {
  width: calc((100% - 48px) / 3);
}
/*-----TEAM--------*/
.team {
  background-color: var(--logo-color);
  padding-top: 120px;
  padding-bottom: 120px;
}
.team-members-item {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
.team-members {
  margin-bottom: 72px;
}
.team-members-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 24px;
  border-radius: 0px 0px 4px 4px;
}

.team-members-item {
  flex-basis: calc((100% - 72px) / 4);
}

.team-members-name {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
}
.team-members-photo {
  display: block;
  max-width: 100%;
}
.team-members-position {
  text-align: center;
  color: var(--text-color);
  margin-bottom: 8px;
}

.team-members-item {
  background-color: var(--banner-color);
}

.team-card-content {
  padding-top: 32px;
  padding-bottom: 32px;
}
.social-media-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.social-media-item {
  width: 40px;
  height: 40px;
}
.social-media-link {
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media-icon {
  fill: #f4f4fd;
}

.social-media-link:hover,
.social-media-link:focus {
  background-color: #404bbf;
}

/*-----CUSTOMERS--------*/

.customers {
  padding-top: 130px;
  padding-bottom: 120px;
}

.customers-title {
  margin-bottom: 72px;
}

.customers-list {
  display: flex;
  gap: 24px;
}

.customers-link {
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-icon {
  fill: #8e8f99;
  transition:
  fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-link:hover,
.customers-link:focus {
  border-color: #404bbf;
}
.customers-link:hover .customers-icon,
.customers-link:focus .customers-icon {
  fill: #4d5ae5;
}

.customers-item {
  width: calc((100% - 120px) / 6);
  height: 88px;
}
/*-----FOOTER--------*/
.footer {
  background-color: var(--title-color);
}
.container-footer {
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  gap: 120px;
}
.footer-styles {
  max-width: 264px;
  min-height: 110px;
  width: 264px;
}

.footer-text {
 margin-top: 16px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--logo-color);
}

.footter-studio {
  color: #f4f4fd;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.1;
  letter-spacing: 0.03em;
}



/*-----FOOTER SOCIAL MEDIA--------*/
.footer-social-media {
  max-width: 208px;
  min-height: 80px;
}

.footer-social-media-title {
  margin-bottom: 8px;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.footer-social-media-list {
  justify-content: center;
  gap: 16px;
  display: flex;
}

.footer-social-media-item {
  width: 40px;
  min-height: 40px;
}
.footer-social-media-link {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-media-icon {
  fill: #f4f4fd;
}

.footer-social-media-link:hover,
.footer-social-media-link:focus {
  background-color: #31d0aa;
}
/*--------------------------PORTFOLIO---------------------*/

/*----PORTFOLIO-BUTTONS----*/
.portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}
.potrfolio-button-list {
  margin-bottom: 72px;
  display: flex;
  justify-content: center;
  gap: 24px;
}

.portfolio-button {
  padding-top: 12px;
  padding-right: 24px;
  padding-bottom: 12px;
  padding-left: 24px;
  display: flex;
  text-align: center;
  color: var(--accent-color);
  background-color: var(--logo-color);
  border: 1px solid #e7e9fc;
  border-radius: 5px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}

.portfolio-button:hover,
.portfolio-button:focus {
  color: var(--banner-color);
  background-color: var(--accent-color);
  border-color: transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/*----PORTFOLIO-IMAGES----*/

.portfolio-images {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.portfolio-images-list {
  width: calc((100% - 48px) / 3);
}

.portfolio-images-item {
  display: block;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-images-item:hover,
.portfolio-images-item:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-images-work {
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.portfolio-images-title {
  margin-bottom: 8px;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-color);
}

.card-content {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  border: 0.5px solid #e7e9fc;
  border-top: 0px;
}
/*----PORTFOLIO-SUBMENU----*/

.portfolio-images-text {
  padding-top: 40px;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 164px;
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background-color: #4d5ae5;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-images-list:hover
 .portfolio-images-text {
  transform: translateY(0);
}

.card-thumb {
  position: relative;
  overflow: hidden;
}
.portfolio-images-item:focus
.portfolio-images-text {
  transform: translateY(0);}